#*#
dist-newstyle
cabal.project.local
**/#*#
**/*~
.cabal-sandbox
*.hi
*.o
*.prof
*.s
*~
TAGS
benchmark/*.csv
cabal.sandbox.config
dist
dist/**
test/*.tix
test/.hpc
test/.hpc/**
test/dist
test/dist/**
.ghc*
src/Data/HashTable/ST/Basic.hs.orig
.gitignore.orig
src/Data/HashTable/Internal/IntArray.hs.orig
